.banner {
  background: url("../../img/header-img.jpg") no-repeat;
  background-size: cover;
  height: 220px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}